body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: black;  
}

.logo {
    background-color: aqua;
    display: flex;
    align-items: center;
}

.menu{
    background-color: blue;
}

.logo img {
    width: 120px;
}